body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
/*TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;text-overflow: ellipsis;word-break:break-all;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; /*to enable resizing for IE*/}
p{text-overflow: ellipsis;word-break:break-all;}
.white{color:#fff}
.whitebg{background:#fff}
.green{color:#23b6bc;}
.greenbg{background:#23b6bc;}
.greenbg2{background:#28a0a3}
.bule{color:#009eb8}
.yellow{color:#fff000}
.hide{display:none}
.hideopacity{opacity:0}
.dib{display:inline-block;}
.redbg{background:#e50012}
.red{color:#e50012}
.black8{color:#888889}
.black{color:#000}
.purplebg{background:#855cde}
.purple{color:#694fc9}
.purple2{color:#6850c8}
.whitebgc{background:#c9c9ca}

.w{width:100%}
.mw700{max-width:768px;}
.h{height:100%}
.w60{width:60%}
.w76{width:76%}
.w80{width:80%}
.w90{width:90%}

.wvw{width:100vw}
.hvh{width:100vh}
.h1px{height:1px}
.h105rem{height:1.5rem}

.pa{position:absolute}
.pf{position:fixed}
.pr{position:relative}
.bottom{bottom:0}
.right{right:0}
.left{left:0}
.top{top:0}
.top3205{top:32.5%}
.oh{overflow:hidden}
.fl{float:left}
.fr{float: right}
.cb{clear:both}
.mt5{margin-top:5%}
.mt10{margin-top:10%}
.mt3{margin-top:3%}
.mb5{margin-bottom:5%}
.mb3{margin-bottom:3%}
.ml3{margin-left:3%}
.ml4{margin-left:4%}
.ml5{margin-left:5%}
.mr5{margin-right:5%}
.ml10{margin-left:10%}
.mr10{margin-right:10%}
.ml2{margin-left:2%}
.mr2{margin-right:2%}
.pt5{padding-top:5%}
.pt3{padding-top:3%}
.pb3{padding-bottom:3%}
.ptb3{padding:3% 0}
.pb10{padding-bottom:10%}
.pl5{padding-left:5%}
.pr5{padding-right:5%;}


.tr{text-align:right}
.tc{text-align:center}
.fb{font-weight:bold}
.tdn{text-decoration:none}
.lh160{line-height:160%}
.lh120{line-height:120%}
.lh130{line-height:130%}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.lh250{line-height:250%}

.fz05{font-size:.5rem}
.fz055{font-size:.55rem}
.fz06{font-size:.6rem}
.fz063{font-size:.63rem}
.fz065{font-size:.65rem}
.fz066{font-size:.66rem}
.fz07{font-size:.7rem}
.fz072{font-size:.72rem}
.fz08{font-size:.8rem}
.fz09{font-size:.9rem}
.fz1{font-size:1rem}

.hide{display:none;}

.imgDiv img{width:100%;height:100%}
.br100{border-radius:100%}
/*缩略图*/
.thumbnails img{width:100%;height:auto}
.hr{border:1px dashed #694fc9}

.bg{background:url("../img/bg.jpg") no-repeat;background-size:100% 100%;width:100%;height:100vh;z-index:-1;}
.column .header{background:url("../img/columnheader.png") repeat-x;background-size:100% auto;padding-top:.3rem;}
.column .content .thumbnails{height:5.7rem;}
.column .content{background:url("../img/contentbg.jpg") repeat-x #fff;background-position:bottom;background-size: 100% auto;}
.column .ionic{background:url("../img/ionic1.png") no-repeat;width:.5rem;height:.6rem;background-size:100% 100%;padding: .1rem .05rem;}
.column .ionic2{background:url("../img/ionic2.png") no-repeat;width:.5rem;height:.6rem;background-size:100% 100%;padding: .1rem .05rem;}
.column .con1{background:url("../img/con1.png") no-repeat;background-size:100% 100%;padding:.2rem 1rem}
.column .con2{background:url("../img/con1.png") no-repeat;background-size:100% 100%;padding:.2rem 1rem}
.column .borderbottom{background:url("../img/borderbottom.png") no-repeat;background-size:100% 100%;height:.5rem; }
.bg2{background:url("../img/bg2.jpg") no-repeat;background-size:100% 100%;width:100%;height:auto;z-index: 98}
.contenthtml .con img{width:100% !important;height:auto !important;margin:5% 0 0 0;}
.contenthtml .settime{width:76%}
.contenthtml{}
.back{background:url("../img/back.jpg") no-repeat;background-size:100% 100%;width:1rem;height:.8rem;}
.timebg{background:url("../img/timebg.png") repeat-x;background-size:cover;height:.7rem;width:10%}
.oppositionTitle,.squareTitle{height:2.5rem}
.oppositionTitle{background:url("../img/oppositionTitle.jpg") no-repeat;background-size:100% 100%;}
.squareTitle{background:url("../img/squareTitle.jpg") no-repeat;background-size:100% 100%;}
.squareTitle .pa{top:25%;left:20%;width:71%;height:1.4rem;}
.oppositionTitle .pa{top:25%;right:20%;width:71%;height:1.4rem;}
.squareComment .header{border:5px solid #855cdd;}
.squareComment .con{background:#e7def8}
.squareComment h2{color:#855cdd}
.oppositionComment .con,.oppositionComment .header{float:right}
.oppositionComment .header{border:5px solid #28a0a3;z-index:2;position:relative}
.oppositionComment .con{background:#d4eced}
.oppositionComment h2{color:#28a0a3;text-align:right}
.oppositionComment h3{text-align:right}
.comment{padding:5% 0;}
.comment .header{width:2rem;height:2rem;}
.comment .con{width:62%;padding:2% 8% 3% 8%;margin:0 11%;margin-top:-3rem;}
.post{z-index:97;}
#form .button .img{width:100%;height:100%}
#form .button{outline:none;width:2.2rem;height:1.5rem;margin-top:.25rem;border:none;}
.post .text{padding:0 .1rem;height:1.7rem;resize:none;margin:1% 5%;border:1px solid #f8f8f8;width:8.7rem;outline:none}
.post{height:2rem;}
.oppositionpostbtnbg1{background:url("../img/oppositionpostbtn1.jpg") no-repeat !important;background-size:100% 100% !important;}
.oppositionpostbtnbg2{background:url("../img/oppositionpostbtn2.jpg") no-repeat !important;background-size:100% 100% !important;}

.squarepostbtnbg1{background:url("../img/squarepostbtn1.jpg") no-repeat !important;background-size:100% 100% !important;}
.squarepostbtnbg2{background:url("../img/squarepostbtn2.jpg") no-repeat !important;background-size:100% 100% !important;}
textarea::-webkit-input-placeholder:after{
    content:"\A 观点";/*  \A 表示换行  */
}
.togglebtn{width:3rem;height:1.8rem;margin-top:.1rem;}
.togglebtn img,.togglebtn div{width:100%;height:100%}
@-webkit-keyframes toopacity
{
    from {opacity:100 }
    to {opacity:0}
}
.textml{margin-left:0 !important;}
.togglebtnml{margin-left:4.8% !important;}
.morehover{-webkit-animation: toopacity .4s;}
.tipsform{bottom:3.6rem;z-index:99}

.tips .purplebg{width: 95%;  line-height: 220%;  height: 1.5rem;  position: absolute;  top: 0;  left: 2.8%;}
.tips .fl:first-child{background:url("../img/tipsbgL.png") no-repeat;height:1.5rem;width:3%;background-size:100% 100%;}
.tips .fr{background:url("../img/tipsbgR.png") no-repeat;height:1.5rem;width:3%;background-size:100% 100%;}
.vote{height:2rem;width:2.5rem;}
.vote img{height:100%;width:100%}
.vote2{height:.7rem;width:2rem;}
.votediv{padding:1rem 0;}
.votediv .vote{position:relative;z-index:5}

.Ovoted{background:url("../img/Ovoted.png") no-repeat;background-size:100% 100%;}
.Ovote{background:url("../img/Ovote.png") no-repeat;background-size:100% 100%;}
.Svote2{background:url("../img/Svote2.jpg") no-repeat;background-size:100% 100%;}
.Svoted2{background:url("../img/Svoted2.jpg") no-repeat;background-size:100% 100%;}
.Ovote2{background:url("../img/Ovote2.jpg") no-repeat;background-size:100% 100%;}
.Ovoted2{background:url("../img/Ovoted2.jpg") no-repeat;background-size:100% 100%;}
.votediv .fl .add,.votediv .fl .less{color:#855cdd}
.votediv .fr .add,.votediv .fr .less{color:#28a0a3}
.votediv .add,.votediv .less{width:2rem;z-index:2;top:1rem;opacity:0}

.backtrack{background:url("../img/backtrack.jpg") no-repeat;background-size:100% 100%;width:25%;height:.7rem;margin-left:37.5%}
.progressBarBorderOut{border:1px solid #000;height:.3rem;width:80%;z-index:0;left:10%;top:45%;}
.progressBarBorderIn{height:1px;box-shadow:0 0 5px  #fff;background:rgba(255,255,255,.5);}
.progressBarbtn{background:url("../img/progressBarbtn.png") no-repeat;background-size:100% 100%;width:1rem;height:1rem;left:1.5rem;}
.progressBarbtnDiv{left:46%;z-index:1;top:17%;height:1rem;width:4rem;}
.progressBarbtnDiv .img{width:2rem;margin-top:.35rem;height: .3rem;}

.vsImg{width:1rem;height:.8rem;top:.6rem;left:47%;}
.info{width: 65%; left: 17%;  top: 1.1rem;}
#textarea{height:2rem;width:57%; }
.main{height:100vh;overflow:hidden;width:100%}
.mainwrap{overflow-y: scroll;height:100%;background:#fff}
.progressBarbtnBox{height:2rem;width:70%;margin-left:15%;margin-right:15%;}